* {
  box-sizing: border-box;
}

body {
  background: #224941 url('./img/bg.jpg') no-repeat center center/cover;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  align-items: center;
  color: #fff;
  margin: 0;

  & h1 {
    font-weight: 300;
  }
}